/*SERVICES START*/
.services {
	min-height: 105px;
	width: 100%;
	background-color: #fff;
	border-bottom: 2px solid #b7b7b7;
}
.wrapp__services {
	width: 80%;
	margin: 0 10%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.services__texts,
.social__icons {
	display: inline-block;
	vertical-align: top;
}
.services__texts {
	width: 40%;
	padding-right: 50px;
}
.social__icons {
	width: 59.5;
}
.services__text-top {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 20px;
}
.services__text-bottom {
   color:#a4a5a8;
}
.social__icons {
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.social__icons > i {
	margin: 17px;
	color: #cccccc;
	cursor: pointer;
}
.faceb:hover {
	color: #3b5998;
}
.twit:hover {
	color: #1da1f2;
}
.google-plus:hover {
	color: #db4437;
}
.pinterest:hover {
	color: #bd081c;
}
.instagram:hover {
	color: red;
}
.stumbleupon:hover {
	color: #ea4b24;
}
.rss:hover {
	color: #f26512;
}



/*SERVICES END*/

/* PORTFOLIO START*/
.portfolio {
	width: 100%;
	background-color: #f5f5f5;
	min-height: 540px;
}
.wrapp__portfolio {
	width: 80%;
	margin: 0 10%;
	padding-top: 50px;
}
.tab {
	width: 100%;
}
.tab__list {
	width: 15%;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(41, 46, 50, 1);
	-moz-box-shadow:    0px 0px 12px 0px rgba(41, 46, 50, 1);
	box-shadow:         0px 0px 12px 0px rgba(41, 46, 50, 1);
}
.tab__text {
  	width: 60%;
  	padding-right: 100px;
  	padding-left: 100px;
}
.tab__img {
	width: 23%;
}
.tab__img img{
	width: 100%;
}
.tab__list,
.one,
.two,
.three,
.tab__img {
	display: inline-block;
	vertical-align: top;
}
.tab__first,
.tab__second,
.tab__last {
	display: block;
	width: 100%;
	margin: 0 0 0 0;
	text-align: center;
	padding: 50px 35px;
	background-color: #333;
	cursor: pointer;
	border-top: 1px solid #fff;
	font-weight: bold;
	color: #fff;
}
.tab__first:hover,
.tab__second:hover,
.tab__last:hover {
	background-color: #ff8b38;
}

.tab__text-first {
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 50px;
}
.tab__text-second {
	color: #a2a3a6;
}
.tab__text-last {
	padding-top: 27px;
	color: #a2a3a6;
}
/*TABS*/
.first,.second  {
	display: none;
}
.download {
	margin-top: 50px;
	padding: 17px 25px;	
	border-radius: 5px;
	background-color:  #ff8b38;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}
.download:hover {
	border: 2px solid #ff8b38;
	background: none;
	color: #ff8b38;
}



/*DEFAULT*/

.default {
	width: 100%;
	background-color: #fff;
	min-height: 650px;
}
.wrapp__default {
	width: 80%;
	margin: 0 10%;
	padding-top: 100px;
}
.default__title:after {
	margin-left: 2px;
	content: "";
	width: 45px;
	height: 1px;
	display: block;
	border: 1px solid #fff;
	box-sizing: border-box;
}
.default__left-content {
	margin-left: -30px;
}
.default__left-content,
.default__right-content {
	display: inline-block;
	vertical-align: top;
	width: 49.8%;

}

.default__right-content {
	padding-right: 70px;
	padding-left: 50px;
}
.default__text-top {
	font-size: 22px;
	font-weight: bold;
}
.default__text-top:after {
	content: "";
	display: block;
	height: 2px;
	border: 2px solid #f7882b; 
	width: 64px;
	box-sizing: border-box;
	margin: 29px 0 29px 0;
}
.default__text-bottom {
	color: #86878b;
	padding-bottom: 48px;
}
.default__title {
	font-size: 20px;
	font-weight: bold;
}
.download-icon {
	margin-right: 20px;
	border: 3px solid #f7882b;
	color: #f7882b;
	padding: 12px;
	border-radius: 50%;
	cursor: pointer;
}
.default__text-last {
	color: #86878b;
	margin-left: 76px;
	padding-bottom: 30px;
}
.default__img {
	display: block;
	width: 100%;
}



/*twitter*/
.twitter {
	width: 100%;
	min-height: 465px;
	background-color: #f5f5f5;
}
.twitter > .wrapp__default {
	width: 80%;
	margin: 0 10%;
}
.twitter .wrapp__default > .default__left-content {
	margin-left: 0;
}


/*argoflex*/
.argoflex {
	width: 100%;
	min-height: 500px;
	background-color: #fff;
	background-position: center top;
	background-size: cover;
}
.wrapp__argoflex {
	width: 80%;
	margin: 0 10%;
	padding-top: 90px;
}
.argoflex__title {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
}
.argoflex__title:after {
	content: "";
	height: 2px;
	width: 64px;
	margin: 0 auto;
	margin-top: 25px;
	display: block;
	border: 2px solid #f7882b;
	box-sizing: border-box;
}
.argoflex__lorem {
	margin-top: 20px;
	color: #a4a5a8;
}
.argoflex__title,
.argoflex__lorem {
	display: block;
	width: 100%;
	text-align: center;
}
.argoflex__column-one,
.argoflex__column-two,
.argoflex__column-three {
	display: inline-block;
	width: 33%;
	margin-top: 50px;
	text-align: center;
}
.lightbulb,
.keyboard,
.bolt {
	padding: 17px;
	width: 50px;
	border: 1px solid #f7882b;
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
	margin-bottom: 27px;
}
.argoflex__text {
	padding-left: 10px;
	padding-right: 10px;
}
.argoflex__title-text {
	font-size: 17px;
	font-weight: bold;
	padding: 0 0 25px 0;
}


.design {
	width: 100%;
	height: auto;
	background-color: #333;
	background-image: url("../img/design.png");
	background-repeat: no-repeat;
	background-position: center top;
	overflow-x: hidden;
	background-size: cover;
	color: #fff;
}
.design> .wrapp__contact > .submit {
	display: block;
	width: 136px;
	height: 46px;
	line-height: 46px;
	padding: 0;
	border: 2px solid #fff;
	background: none;
}
.design> .wrapp__contact > .submit:hover {
	border: 2px solid #ff9b51;
}
.design> .wrapp__contact > .argoflex__title:after {
	content: "";
	height: 2px;
	width: 64px;
	margin: 0 auto;
	margin-top: 25px;
	display: block;
	border: 2px solid #fff;
	box-sizing: border-box;
}


/*testimonials*/
.testimonials {
	width: 100%;
	min-height: 850px;
	background-color: #f5f5f5;
	background-position: center top;
	background-size: cover;
}
.wrapp__testimonials {
	width: 80%;
	margin: 0 10%;
	padding-top: 50px;
}
.testimonials__title {
	text-transform: uppercase;
	font-size: 30px;
	color: #515f67;
	width: 30%;
}
.testimonials__title:after {
	margin-left: 2px;
	content: "";
	width: 45px;
	height: 1px;
	display: block;
	border: 1px solid #515f67;
	box-sizing: border-box;
}
.testimonials__title,
.quote {
	display: inline-block;
	width: 49.7%;
	vertical-align: top;
}
.quote {
	padding-left: 97%;
	font-size: 28px;
	margin-top: -30px;
}
.testimonials__text {
	font-size: 24px;
	color: #515f67;
	padding-right: 20px;
	line-height: 40px;
}
.testimnials__autor {
	font-size: 14px;
	color: #4bcaff;
	font-weight: bold;
	margin-top: 40px;
	cursor: pointer;
}

/*COMMENTS*/
.comments > .wrapp__argoflex  .argoflex__column-one  > .argoflex__text {
	background: #f5f5f5;
	text-align: left;
	width: 80%;
	margin: 0 10%;
}
.comments > .wrapp__argoflex  .argoflex__column-two  > .argoflex__text {
	background: #f5f5f5;
	text-align: left;
	width: 80%;
	margin: 0 10%;
}
.comments > .wrapp__argoflex  .argoflex__column-three  > .argoflex__text {
	background: #f5f5f5;
	text-align: left;
	width: 80%;
	margin: 0 10%;
}

.jeremy__img,
.wrapp__name {
	display: inline-block;
}
.wrapp__name {
	width: 60%;
}
.jeremy__img {
	display: block;
	margin: 0 0 0 0%;
	margin-top: 20px;
	height: 70px;
	width: 70px;
}
.name__jeremy,
.post__jeremy {
	width: 100%;
	text-align: left;
	vertical-align: middle;
}
.name__jeremy {
	padding-left: 10px;
	font-weight: bold;
	font-size: 20px;
}
.post__jeremy {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 35px;
	font-size: 14px;
	color: #a4a5a8;
}
.jeremy__img,
.name__jeremy,
.post__jeremy {
	display: inline-block;
	vertical-align: center;
}



/*contact*/
.contact {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	min-height: 600px;
	background-color: #fff;
	background-position: center top;
	background-size: cover;
}
.wrapp__contact {
	width: 80%;
	margin: 0 10%;
	padding-top: 50px;
}
.contact__title {
	text-transform: uppercase;
	font-size: 30px;
	color: #fff;
	width: 100%;
}
.contact__title:after {
	margin-left: 2px;
	content: "";
	width: 45px;
	height: 1px;
	display: block;
	border: 1px solid #fff;
	box-sizing: border-box;
}
.text,
.text__name {
	display: block;
}
.text__name {
	margin-top: 20px;
	margin-bottom: 20px;
}
.text, .message {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
.left__contact,
.right__contact {
	display: inline-block;
	vertical-align: top;
	width: 49.5%;
}
.email,
.message {
	display: block;
}
.email,
.contact__text-bottom {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
.area {
	max-width: 100%;
	min-width: 100%;
	margin-top: 20px;
	outline: none;
	border: none;
	border-bottom: 2px solid #d6d6d6;
	padding: 20px;
	min-height: 220px;
}

input {
	background: none;
	height: 60px;
	width: 95%;
	border: 2px solid #fff;
	box-sizing: border-box;
}
.contact > .wrapp__contact  input {
	border-bottom: 2px solid #d6d6d6;
	outline: none;
	width: 80%;
}
input[placeholder]
{
    padding-left: 20px;
}
/* сдвиг placeholder-а вправо при фокусе*/

.input2::-webkit-input-placeholder
{
    transition: text-indent .8s ease;
    text-indent: 0;
}
.input2::-moz-placeholder
{
    transition: text-indent .8s ease;
    text-indent: 0;
}
.input2:-moz-placeholder
{
    transition: text-indent .8s ease;
    text-indent: 0;
}
.input2:-ms-input-placeholder
{
    transition: text-indent .8s ease;
    text-indent: 0;
}
.input2:focus::-webkit-input-placeholder
{
    transition: text-indent .8s ease;
    text-indent: 500px;
}
.input2:focus::-moz-placeholder
{
    transition: text-indent .8s ease;
    text-indent: 500px;
}
.input2:focus:-moz-placeholder
{
    transition: text-indent .8s ease;
    text-indent: 500px;
}
.input2:focus:-ms-input-placeholder
{
    transition: text-indent .8s ease;
    text-indent: 500px;
}
.submit {
	width: 370px;
	height: 60px;
	padding: 25px 0 25px 0;
	border-radius: 5px;
	background-color: #ff9b51;
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-top: 40px;
}
.wrapp__contact .submit {
	display: block;
	margin: 40px auto;
	width: 30%;
}
.bottom {
	margin-bottom: 90px;
}
.submit:hover {
	border: 2px solid #ff9b51;
	background: none;
	color: #ff9b51;
}
